@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clamp-xl {
  font-size: clamp(1rem, 10vw, 20rem);
}
.text-clamp-lg {
  font-size: clamp(2.5rem, 6vw, 20rem);
}

.gap-layout {
  @apply gap-6 lg:gap-10;
}

.rounded-layout{
  @apply rounded-3xl
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
