@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clamp-2xl {
  font-size: clamp(1rem, 10vw, 20rem);
}

.text-clamp-xl {
  font-size: clamp(2.5rem, 6vw, 20rem);
}

.text-clamp-lg {
  font-size: clamp(2.5rem, 5vw, 20rem);
}

.text-clamp-md {
  font-size: clamp(1rem, 4vw, 20rem);
}

.text-clamp-base {
  font-size: clamp(1.5rem, 2.5vw, 20rem);
}

@media (min-width: 1280px) {
  .text-clamp-2xl {
    font-size: 8rem;
  }

  .text-clamp-xl {
    font-size: 8rem;
  }

  .text-clamp-lg {
    font-size: 5rem;
  }
  .text-clamp-md {
    font-size: 4rem;
  }

  .text-clamp-base {
    font-size: 2rem;
  }
}
.gap-contant {
  @apply gap-3 md:gap-4 lg:gap-6;
}

.rounded-layout {
  @apply rounded-3xl;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sukhumvit: "Sukhumvit Set", sans-serif;

  /* --background: #ffffff;
  --foreground: #171717; */
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-sukhumvit);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
