@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clamp-2xl {
  font-size: clamp(1rem, 10vw, 20rem);
}

.text-clamp-xl {
  font-size: clamp(2.5rem, 6vw, 20rem);
}

.text-clamp-lg {
  font-size: clamp(2.5rem, 5vw, 20rem);
}

.text-clamp-md {
  font-size: clamp(1rem, 4vw, 20rem);
}

.text-clamp-base {
  font-size: clamp(1.5rem, 2.5vw, 20rem);
}

@media (min-width: 1280px) {
  .text-clamp-2xl {
    font-size: 8rem;
  }

  .text-clamp-xl {
    font-size: 8rem;
  }

  .text-clamp-lg {
    font-size: 5rem;
  }
  .text-clamp-md {
    font-size: 4rem;
  }

  .text-clamp-base {
    font-size: 2rem;
  }
}
.gap-contant {
  @apply gap-3 md:gap-4 lg:gap-6;
}

.rounded-layout {
  @apply rounded-3xl;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sukhumvit: "Sukhumvit Set", sans-serif;

  /* --background: #ffffff;
  --foreground: #171717; */
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-sukhumvit);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.card-limit-height {
  @apply h-auto md:h-[500px] lg:h-[600px];
}

@layer base {
  :root {
    --fade-gradient-top: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    --fade-gradient-bottom: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .fade-mask {
    position: relative;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
  }

  .fade-top {
    @extend .fade-mask;
    mask-image: var(--fade-gradient-top);
    -webkit-mask-image: var(--fade-gradient-top);
  }

  .fade-bottom {
    @extend .fade-mask;
    mask-image: var(--fade-gradient-bottom);
    -webkit-mask-image: var(--fade-gradient-bottom);
  }
}
